@import "src/mixins";

.real-header {
  @include dimension(100%, 100px);
  background: linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
  padding: 5px 30px;

  .menu-items-wrapper {
    @include flex();
    padding-left: 150px;

    .menu-item {
      @include text-style(18px, white);
      margin-left: 20px;
    }
  }
}
